In [1]:
import pandas as pd

In [2]:
RAW_DATA_DIR = "../data/raw/numbeo/"
PROCESSED_DATA_DIR = "../data/processed/"
FINAL_DATA_DIR = "../data/final/"

In [47]:
df = pd.read_csv(PROCESSED_DATA_DIR + "numbeo_merged.csv")

In [48]:
df.head()

,Unnamed: 0,CountryName,CityName,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Cappuccino (regular),Coke/Pepsi (12 oz small bottle),Water (12 oz small bottle),"Milk (regular), (1 gallon)",...,Noise and Light Pollution,Water Pollution,Dissatisfaction to Spend Time in the City,Dissatisfaction with Green and Parks in the City,Quality of Life Index:,Traffic Index:,Time Index (in minutes):,Time Exp. Index:,Inefficiency Index:,CO2 Emission Index:
0,0,Afghanistan,Kabul,1.69 $,9.88 $,3.10 $,1.69 $,0.25 $,0.14 $,2.24 $,...,57.14,81.62,85.53,78.12,NaN,276.95,56.17,11544.88,322.02,9100.00
1,1,Albania,Tirana,5.02 $,33.48 $,5.44 $,1.30 $,1.29 $,0.66 $,4.80 $,...,58.89,72.60,69.27,67.99,90.80,122.19,38.53,1227.84,95.55,1509.06
2,2,Algeria,Algiers,2.84 $,21.32 $,4.62 $,0.90 $,0.49 $,0.19 $,3.30 $,...,39.86,58.57,56.41,72.30,87.36,247.82,52.71,8402.50,229.26,7796.43
3,3,Algeria,Tlemcen,1.78 $,14.21 $,1.95 $,0.73 $,0.52 $,0.20 $,1.51 $,...,43.75,37.50,25.00,68.75,82.56,215.86,56.67,12053.32,168.67,1326.67
4,4,Angola,Luanda,7.84 $,64.25 $,10.51 $,3.93 $,1.95 $,1.42 $,9.44 $,...,69.12,81.25,80.00,88.33,59.27,370.86,65.43,23369.50,426.01,17404.00

In [20]:
for c in df.columns:
    print(f"'{c}',")

'Unnamed: 0',
'CountryName',
'CityName',
'Meal, Inexpensive Restaurant',
'Meal for 2 People, Mid-range Restaurant, Three-course',
'McMeal at McDonalds (or Equivalent Combo Meal)',
'Cappuccino (regular)',
'Coke/Pepsi (12 oz small bottle)',
'Water (12 oz small bottle)',
'Milk (regular), (1 gallon)',
'Loaf of Fresh White Bread (1 lb)',
'Rice (white), (1 lb)',
'Eggs (regular) (12)',
'Local Cheese (1 lb)',
'Chicken Fillets (1 lb)',
'Apples (1 lb)',
'Banana (1 lb)',
'Oranges (1 lb)',
'Tomato (1 lb)',
'Potato (1 lb)',
'Onion (1 lb)',
'Lettuce (1 head)',
'Water (1.5 liter bottle)',
'Cigarettes 20 Pack (Marlboro)',
'One-way Ticket (Local Transport)',
'Monthly Pass (Regular Price)',
'Taxi Start (Normal Tariff)',
'Taxi 1 mile (Normal Tariff)',
'Taxi 1hour Waiting (Normal Tariff)',
'Gasoline (1 gallon)',
'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)',
'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)',
'Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment',
'1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
'Fitness Club, Monthly Fee for 1 Adult',
'Tennis Court Rent (1 Hour on Weekend)',
'Cinema, International Release, 1 Seat',
'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
'International Primary School, Yearly for 1 Child',
'1 Pair of Jeans (Levis 501 Or Similar)',
'1 Summer Dress in a Chain Store (Zara, H&M, ...)',
'1 Pair of Nike Running Shoes (Mid-Range)',
'1 Pair of Men Leather Business Shoes',
'Apartment (1 bedroom) in City Centre',
'Apartment (1 bedroom) Outside of Centre',
'Apartment (3 bedrooms) in City Centre',
'Apartment (3 bedrooms) Outside of Centre',
'Price per Square Feet to Buy Apartment in City Centre',
'Price per Square Feet to Buy Apartment Outside of Centre',
'Average Monthly Net Salary (After Tax)',
'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
'Level of crime',
'Crime increasing in the past 3 years',
'Worries home broken and things stolen',
'Worries being mugged or robbed',
'Worries car stolen',
'Worries things from car stolen',
'Worries attacked',
'Worries being insulted',
'Worries being subject to a physical attack because of your skin color, ethnic origin, gender or religion',
'Problem people using or dealing drugs',
'Problem property crimes such as vandalism and theft',
'Problem violent crimes such as assault and armed robbery',
'Problem corruption and bribery',
'Skill and competency of medical staff',
'Speed in completing examination and reports',
'Equipment for modern diagnosis and treatment',
'Accuracy and completeness in filling out reports',
'Friendliness and courtesy of the staff',
'Satisfaction with responsiveness (waitings) in medical institutions',
'Satisfaction with cost to you',
'Convenience of location for you',
'Air Pollution',
'Drinking Water Pollution and Inaccessibility',
'Dissatisfaction with Garbage Disposal',
'Dirty and Untidy',
'Noise and Light Pollution',
'Water Pollution',
'Dissatisfaction to Spend Time in the City',
'Dissatisfaction with Green and Parks in the City',
'Quality of Life Index:',
'Traffic Index:',
'Time Index (in minutes):',
'Time Exp. Index:',
'Inefficiency Index:',
'CO2 Emission Index:',

In [49]:
signif_cols = [
    'CountryName',
    'CityName',
    'Meal, Inexpensive Restaurant',
    'Meal for 2 People, Mid-range Restaurant, Three-course',
    'McMeal at McDonalds (or Equivalent Combo Meal)',
    'Cappuccino (regular)',
    'Cigarettes 20 Pack (Marlboro)',
    'One-way Ticket (Local Transport)',
    'Monthly Pass (Regular Price)',
    'Taxi Start (Normal Tariff)',
    'Taxi 1 mile (Normal Tariff)',
    'Gasoline (1 gallon)',
    'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)',
    'Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment',
    'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
    'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
    'International Primary School, Yearly for 1 Child',
    'Apartment (1 bedroom) in City Centre',
    'Apartment (1 bedroom) Outside of Centre',
    'Apartment (3 bedrooms) in City Centre',
    'Apartment (3 bedrooms) Outside of Centre',
    'Price per Square Feet to Buy Apartment in City Centre',
    'Price per Square Feet to Buy Apartment Outside of Centre',
    'Average Monthly Net Salary (After Tax)',
    'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
    'Level of crime',
    'Skill and competency of medical staff',
    'Air Pollution',
    'Drinking Water Pollution and Inaccessibility',
    'Dissatisfaction with Green and Parks in the City',
    'Quality of Life Index:',
    'Traffic Index:'
]

In [50]:
len(signif_cols)

32

In [51]:
df1 = df[signif_cols]

In [54]:
df1['Meal for 2 People, Mid-range Restaurant, Three-course'] = df1['Meal for 2 People, Mid-range Restaurant, Three-course'].replace('[^-.0-9]', '', regex=True).astype(float)

C:\Users\Aleksandr\AppData\Local\Temp\ipykernel_10972\3041490387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Meal for 2 People, Mid-range Restaurant, Three-course'] = df1['Meal for 2 People, Mid-range Restaurant, Three-course'].replace('[^-.0-9]', '', regex=True).astype(float)

In [53]:
df1.to_csv(FINAL_DATA_DIR + "numbeo_final.csv")

In [3]:
df1 = pd.read_csv(FINAL_DATA_DIR + "numbeo_final.csv")

In [4]:
df1.head()

,Unnamed: 0,CountryName,CityName,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Cappuccino (regular),Cigarettes 20 Pack (Marlboro),One-way Ticket (Local Transport),Monthly Pass (Regular Price),...,Price per Square Feet to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Level of crime,Skill and competency of medical staff,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Green and Parks in the City,Quality of Life Index:,Traffic Index:
0,0,Afghanistan,Kabul,1.69 $,9.88,3.10 $,1.69 $,1.86 $,0.23 $,10.16 $,...,37.05 $,171.20 $,13.88,84.87,22.22,82.05,70.71,78.12,NaN,276.95
1,1,Albania,Tirana,5.02 $,33.48,5.44 $,1.30 $,2.93 $,0.33 $,13.39 $,...,89.40 $,431.63 $,4.47,45.57,52.31,80.73,73.82,67.99,90.80,122.19
2,2,Algeria,Algiers,2.84 $,21.32,4.62 $,0.90 $,2.27 $,0.28 $,10.66 $,...,96.97 $,275.22 $,7.19,55.24,53.06,60.00,49.36,72.30,87.36,247.82
3,3,Algeria,Tlemcen,1.78 $,14.21,1.95 $,0.73 $,2.10 $,0.14 $,7.11 $,...,204.67 $,266.50 $,NaN,61.36,31.25,31.25,12.50,68.75,82.56,215.86
4,4,Angola,Luanda,7.84 $,64.25,10.51 $,3.93 $,2.00 $,0.59 $,31.78 $,...,320.40 $,"1,428.77 $",25.00,76.73,34.62,85.00,78.12,88.33,59.27,370.86

In [5]:
df1['id'] = df1['CountryName'] + df1['CityName']

In [7]:
df1['id']

0              AfghanistanKabul
1                 AlbaniaTirana
2                AlgeriaAlgiers
3                AlgeriaTlemcen
4                  AngolaLuanda
                 ...
6449             VietnamDa Nang
6450               VietnamHanoi
6451    VietnamHo Chi Minh City
6452               ZambiaLusaka
6453             ZimbabweHarare
Name: id, Length: 6454, dtype: object

In [8]:
df1['id'].nunique()

1278

In [10]:
df_u = df1.drop_duplicates(['id'])

In [11]:
df_u

,Unnamed: 0,CountryName,CityName,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Cappuccino (regular),Cigarettes 20 Pack (Marlboro),One-way Ticket (Local Transport),Monthly Pass (Regular Price),...,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Level of crime,Skill and competency of medical staff,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Green and Parks in the City,Quality of Life Index:,Traffic Index:,id
0,0,Afghanistan,Kabul,1.69 $,9.88,3.10 $,1.69 $,1.86 $,0.23 $,10.16 $,...,171.20 $,13.88,84.87,22.22,82.05,70.71,78.12,NaN,276.95,AfghanistanKabul
1,1,Albania,Tirana,5.02 $,33.48,5.44 $,1.30 $,2.93 $,0.33 $,13.39 $,...,431.63 $,4.47,45.57,52.31,80.73,73.82,67.99,90.80,122.19,AlbaniaTirana
2,2,Algeria,Algiers,2.84 $,21.32,4.62 $,0.90 $,2.27 $,0.28 $,10.66 $,...,275.22 $,7.19,55.24,53.06,60.00,49.36,72.30,87.36,247.82,AlgeriaAlgiers
3,3,Algeria,Tlemcen,1.78 $,14.21,1.95 $,0.73 $,2.10 $,0.14 $,7.11 $,...,266.50 $,NaN,61.36,31.25,31.25,12.50,68.75,82.56,215.86,AlgeriaTlemcen
4,4,Angola,Luanda,7.84 $,64.25,10.51 $,3.93 $,2.00 $,0.59 $,31.78 $,...,"1,428.77 $",25.00,76.73,34.62,85.00,78.12,88.33,59.27,370.86,AngolaLuanda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6449,6449,Vietnam,Da Nang,1.47 $,16.75,6.28 $,1.28 $,1.23 $,0.29 $,6.28 $,...,303.59 $,7.50,18.96,80.00,50.00,47.50,38.10,128.91,90.28,VietnamDa Nang
6450,6450,Vietnam,Hanoi,2.09 $,18.84,5.40 $,1.96 $,1.47 $,0.29 $,8.37 $,...,473.42 $,9.86,32.66,57.56,84.52,57.72,57.14,98.33,106.78,VietnamHanoi
6451,6451,Vietnam,Ho Chi Minh City,2.09 $,24.82,4.19 $,2.09 $,1.26 $,0.29 $,5.65 $,...,501.66 $,9.18,54.33,60.55,87.57,62.15,66.48,66.53,117.93,VietnamHo Chi Minh City
6452,6452,Zambia,Lusaka,3.00 $,15.83,3.17 $,1.72 $,2.57 $,1.24 $,32.34 $,...,396.55 $,21.00,46.43,53.85,66.67,67.31,57.69,NaN,165.62,ZambiaLusaka
6453,6453,Zimbabwe,Harare,9.00 $,40.00,6.00 $,2.28 $,2.00 $,0.75 $,31.00 $,...,268.75 $,14.17,58.75,48.96,60.12,75.00,58.75,76.39,135.10,ZimbabweHarare

In [12]:
float_cols = [
    'Meal, Inexpensive Restaurant',
    'Meal for 2 People, Mid-range Restaurant, Three-course',
    'McMeal at McDonalds (or Equivalent Combo Meal)',
    'Cappuccino (regular)',
    'Cigarettes 20 Pack (Marlboro)',
    'One-way Ticket (Local Transport)',
    'Monthly Pass (Regular Price)',
    'Taxi Start (Normal Tariff)',
    'Taxi 1 mile (Normal Tariff)',
    'Gasoline (1 gallon)',
    'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)',
    'Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment',
    'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
    'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
    'International Primary School, Yearly for 1 Child',
    'Apartment (1 bedroom) in City Centre',
    'Apartment (1 bedroom) Outside of Centre',
    'Apartment (3 bedrooms) in City Centre',
    'Apartment (3 bedrooms) Outside of Centre',
    'Price per Square Feet to Buy Apartment in City Centre',
    'Price per Square Feet to Buy Apartment Outside of Centre',
    'Average Monthly Net Salary (After Tax)',
    'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
    'Level of crime',
    'Skill and competency of medical staff',
    'Air Pollution',
    'Drinking Water Pollution and Inaccessibility',
    'Dissatisfaction with Green and Parks in the City',
    'Quality of Life Index:',
    'Traffic Index:'
]

In [13]:
for c in float_cols:
    df_u[c] = df_u[c].replace('[^-.0-9]', '', regex=True).astype(float)

C:\Users\Aleksandr\AppData\Local\Temp\ipykernel_16292\3509976186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_u[c] = df_u[c].replace('[^-.0-9]', '', regex=True).astype(float)

In [15]:
df_u.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1278 entries, 0 to 6453
Data columns (total 34 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Unnamed: 0                                                                     1278 non-null   int64
 1   CountryName                                                                    1278 non-null   object
 2   CityName                                                                       1278 non-null   object
 3   Meal, Inexpensive Restaurant                                                   1273 non-null   float64
 4   Meal for 2 People, Mid-range Restaurant, Three-course                          1272 non-null   float64
 5   McMeal at McDonalds (or Equivalent Combo Meal)                                 1273 non-null   float64
 6   Cappuccino (regular)                                                           1272 non-null   float64
 7   Cigarettes 20 Pack (Marlboro)                                                  1272 non-null   float64
 8   One-way Ticket (Local Transport)                                               1229 non-null   float64
 9   Monthly Pass (Regular Price)                                                   1173 non-null   float64
 10  Taxi Start (Normal Tariff)                                                     1264 non-null   float64
 11  Taxi 1 mile (Normal Tariff)                                                    1259 non-null   float64
 12  Gasoline (1 gallon)                                                            1270 non-null   float64
 13  Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)                    1253 non-null   float64
 14  Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment  1273 non-null   float64
 15  Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                         1276 non-null   float64
 16  Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child            1227 non-null   float64
 17  International Primary School, Yearly for 1 Child                               1148 non-null   float64
 18  Apartment (1 bedroom) in City Centre                                           1254 non-null   float64
 19  Apartment (1 bedroom) Outside of Centre                                        1246 non-null   float64
 20  Apartment (3 bedrooms) in City Centre                                          1251 non-null   float64
 21  Apartment (3 bedrooms) Outside of Centre                                       1248 non-null   float64
 22  Price per Square Feet to Buy Apartment in City Centre                          1150 non-null   float64
 23  Price per Square Feet to Buy Apartment Outside of Centre                       1142 non-null   float64
 24  Average Monthly Net Salary (After Tax)                                         1239 non-null   float64
 25  Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate     1256 non-null   float64
 26  Level of crime                                                                 1278 non-null   float64
 27  Skill and competency of medical staff                                          1278 non-null   float64
 28  Air Pollution                                                                  1278 non-null   float64
 29  Drinking Water Pollution and Inaccessibility                                   1278 non-null   float64
 30  Dissatisfaction with Green and Parks in the City                               1278 non-null   float64
 31  Quality of Life Index:                                                         869 non-null    float64
 32  Traffic Index:                                                                 1278 non-null   float64
 33  id                                                                             1278 non-null   object
dtypes: float64(30), int64(1), object(3)
memory usage: 349.5+ KB

In [16]:
df_u.to_csv(FINAL_DATA_DIR + "numbeo.csv")

In [19]:
df_u = df_u.drop(['Unnamed: 0'],axis=1)

In [24]:
df_u = df_u.dropna()

In [26]:
df_u = df_u.reset_index(drop=True)

In [27]:
df_u

,CountryName,CityName,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Cappuccino (regular),Cigarettes 20 Pack (Marlboro),One-way Ticket (Local Transport),Monthly Pass (Regular Price),Taxi Start (Normal Tariff),...,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Level of crime,Skill and competency of medical staff,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Green and Parks in the City,Quality of Life Index:,Traffic Index:,id
0,Albania,Tirana,5.02,33.48,5.44,1.30,2.93,0.33,13.39,2.51,...,431.63,4.47,45.57,52.31,80.73,73.82,67.99,90.80,122.19,AlbaniaTirana
1,Algeria,Algiers,2.84,21.32,4.62,0.90,2.27,0.28,10.66,0.36,...,275.22,7.19,55.24,53.06,60.00,49.36,72.30,87.36,247.82,AlgeriaAlgiers
2,Angola,Luanda,7.84,64.25,10.51,3.93,2.00,0.59,31.78,1.67,...,1428.77,25.00,76.73,34.62,85.00,78.12,88.33,59.27,370.86,AngolaLuanda
3,Argentina,Buenos Aires,6.56,25.00,5.00,1.77,2.00,0.16,10.00,1.00,...,404.58,44.23,74.82,81.46,45.00,30.57,34.05,100.81,204.58,ArgentinaBuenos Aires
4,Argentina,Cordoba,5.00,21.00,5.74,1.50,2.45,0.65,26.09,1.11,...,522.22,50.00,73.95,84.82,65.00,45.00,66.67,120.88,138.18,ArgentinaCordoba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,Venezuela,Caracas,10.00,50.00,10.00,1.65,3.00,0.35,30.00,4.00,...,191.67,27.00,94.12,47.38,56.72,69.23,64.52,65.75,150.20,VenezuelaCaracas
770,Vietnam,Da Nang,1.47,16.75,6.28,1.28,1.23,0.29,6.28,0.54,...,303.59,7.50,18.96,80.00,50.00,47.50,38.10,128.91,90.28,VietnamDa Nang
771,Vietnam,Hanoi,2.09,18.84,5.40,1.96,1.47,0.29,8.37,0.67,...,473.42,9.86,32.66,57.56,84.52,57.72,57.14,98.33,106.78,VietnamHanoi
772,Vietnam,Ho Chi Minh City,2.09,24.82,4.19,2.09,1.26,0.29,5.65,0.50,...,501.66,9.18,54.33,60.55,87.57,62.15,66.48,66.53,117.93,VietnamHo Chi Minh City
773,Zimbabwe,Harare,9.00,40.00,6.00,2.28,2.00,0.75,31.00,5.00,...,268.75,14.17,58.75,48.96,60.12,75.00,58.75,76.39,135.10,ZimbabweHarare

In [28]:
df_u.to_csv(FINAL_DATA_DIR + "numbeo.csv")

In [29]:
df_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774 entries, 0 to 773
Data columns (total 33 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   CountryName                                                                    774 non-null    object
 1   CityName                                                                       774 non-null    object
 2   Meal, Inexpensive Restaurant                                                   774 non-null    float64
 3   Meal for 2 People, Mid-range Restaurant, Three-course                          774 non-null    float64
 4   McMeal at McDonalds (or Equivalent Combo Meal)                                 774 non-null    float64
 5   Cappuccino (regular)                                                           774 non-null    float64
 6   Cigarettes 20 Pack (Marlboro)                                                  774 non-null    float64
 7   One-way Ticket (Local Transport)                                               774 non-null    float64
 8   Monthly Pass (Regular Price)                                                   774 non-null    float64
 9   Taxi Start (Normal Tariff)                                                     774 non-null    float64
 10  Taxi 1 mile (Normal Tariff)                                                    774 non-null    float64
 11  Gasoline (1 gallon)                                                            774 non-null    float64
 12  Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)                    774 non-null    float64
 13  Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment  774 non-null    float64
 14  Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                         774 non-null    float64
 15  Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child            774 non-null    float64
 16  International Primary School, Yearly for 1 Child                               774 non-null    float64
 17  Apartment (1 bedroom) in City Centre                                           774 non-null    float64
 18  Apartment (1 bedroom) Outside of Centre                                        774 non-null    float64
 19  Apartment (3 bedrooms) in City Centre                                          774 non-null    float64
 20  Apartment (3 bedrooms) Outside of Centre                                       774 non-null    float64
 21  Price per Square Feet to Buy Apartment in City Centre                          774 non-null    float64
 22  Price per Square Feet to Buy Apartment Outside of Centre                       774 non-null    float64
 23  Average Monthly Net Salary (After Tax)                                         774 non-null    float64
 24  Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate     774 non-null    float64
 25  Level of crime                                                                 774 non-null    float64
 26  Skill and competency of medical staff                                          774 non-null    float64
 27  Air Pollution                                                                  774 non-null    float64
 28  Drinking Water Pollution and Inaccessibility                                   774 non-null    float64
 29  Dissatisfaction with Green and Parks in the City                               774 non-null    float64
 30  Quality of Life Index:                                                         774 non-null    float64
 31  Traffic Index:                                                                 774 non-null    float64
 32  id                                                                             774 non-null    object
dtypes: float64(30), object(3)
memory usage: 199.7+ KB